
<!-- Page Container -->
<div id="chart_demo" class="container" style="font-family: quicksand; margin-top: 20px;">
    <div class="row">
        <h1>Chart Demo</h1>
    </div>
    <div class="row">
        <!-- LineChart -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="chart_demo_1" height="280px"></canvas>
                </div>
            </div>
        </div>

        <!-- BarChart -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="chart_demo_2" height="280px"></canvas>
                </div>
            </div>
        </div>

        <!-- RadarChart -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="chart_demo_3" height="280px"></canvas>
                </div>
            </div>
        </div>

        <!-- PolarAreaChart -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="chart_demo_4" height="280px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- PieChart -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="chart_demo_5" height="280px"></canvas>
                </div>
            </div>
        </div>

        <!-- DoughnutChart -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="chart_demo_6" height="280px"></canvas>
                </div>
            </div>
        </div>

        <!-- BubbleChart -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="chart_demo_7" height="280px"></canvas>
                </div>
            </div>
        </div>

        <!-- GaugeChart -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="chart_demo_8" style="height: 215px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

