<!-- Page Container -->
<div class="container" style="font-family: quicksand;">

    <!-- Home User Page -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Hi, {{ user.nickname }} {% if user.profile_img is defined %}<img src="{{ path_for('home') }}{{ profile_img }}" width="75px" height="75px" alt="User profile image" class="img-circle">{% endif %}</h1>
            <p>Here is the Dashboard Section and you are successfully logged in.</p>
            <hr>
        </div>
    </div>
</div>
