
<!-- Page Container -->
<div id="webform" class="container" style="font-family: quicksand; margin-top: 20px;">
    <div class="row">
        <h1>WebForm Demo</h1>
    </div>
    <div class="row">
        <!-- Simple Form -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="pull-right">Gender</span>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-3">
                            <span class="pull-right">Name</span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-3">
                            <span class="pull-right">Familyname</span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Familyname">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Multi Col Form -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- Row 1-->
                    <div class="row">
                        <div class="col-md-3">
                            <span class="pull-right">Name</span>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Familyname">
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-3">
                            <span class="pull-right">Address</span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Street">
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="ZIP">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="City">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

